*.suo
*.user
bin
*.sln.docstates
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
.vs
packages
/Wisej.Ext.Geolocation/.vs/config/applicationhost.config
*.pdb
/Wisej.Ext.ClearScript/ClearScript/*.tt
*.tt
Debug
Release
