# See http://EditorConfig.org for more information about .editorconfig files.

##########################################
# Common Settings
##########################################

# This file is the top-most EditorConfig file
root = true

# All Files
[*]
charset = utf-8
indent_style = tab
indent_size = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
