
.tinyeditor {
    border: 1px solid #bbb;
    padding: 0 1px 1px;
    font: 12px Verdana,Arial;
    box-sizing: border-box;
}

    .tinyeditor iframe {
        border: none;
        overflow-x: hidden;
    }

    .tinyeditor textarea {
        width:100%;
        height: 100%;
        box-sizing: border-box;
        border: none;
        outline: none;
        resize: none;
    }

.tinyeditor-header {
    height: 31px;
    overflow: hidden;
    border-bottom: 1px solid #bbb;
    background: url(Wisej.Web.Ext.TinyEditor/header-bg.gif) repeat-x;
    padding-top: 1px;
}

    .tinyeditor-header select {
        float: left;
        margin-top: 5px;
    }

.tinyeditor-font {
    margin-left: 12px;
}

.tinyeditor-size {
    margin: 0 3px;
}

.tinyeditor-style {
    margin-right: 12px;
}

.tinyeditor-divider {
    float: left;
    width: 1px;
    height: 30px;
    background: #ccc;
}

.tinyeditor-control {
    float: left;
    width: 34px;
    height: 30px;
    cursor: pointer;
    background-image: url(Wisej.Web.Ext.TinyEditor/icons.png);
}

    .tinyeditor-control:hover {
        background-color: #fff;
        background-position: 30px 0;
    }

.tinyeditor-footer {
    height: 32px;
    border-top: 1px solid #bbb;
    background: #f5f5f5;
}

.toggle {
    float: left;
    background: url(Wisej.Web.Ext.TinyEditor/icons.png) -34px 2px no-repeat;
    padding: 9px 13px 0 31px;
    height: 23px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    color: #666;
}

    .toggle:hover {
        background-color: #fff;
    }

.resize {
    float: right;
    height: 32px;
    width: 32px;
    background: url(Wisej.Web.Ext.TinyEditor/resize.gif) 15px 15px no-repeat;
    cursor: s-resize;
}

#editor {
    cursor: text;
    margin: 10px;
}
